.DS_Store
*.swp
*~
*.bak
logs
*.log
npm-debug.log*
/node_modules
node_modules/
/build
build/

*.log
*.dat
*.out
*.pid
*.gz
*.swp
*.zip
tmp

#creenshot folders
screenshots/
screenshots/*

#FitBit app builds
build/
*.fba

#fitbit studio exports
fitbitStudioExports/
fitbitStudioExports/*

#VSCode set up
./vscode
