.background {
  viewport-fill: black;
}

#floors {
  font-size: 24;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: middle;
  x: -2;
  y: 85;
  fill: white;
}

#steps {
  font-size: 24;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: middle;
  x: 249;
  y: -163;
  fill: white;
}

#dist {
  font-size: 24;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: middle;
  x: 72;
  y: 351;
  fill: white;
}

#hr {
  font-size: 24;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: middle;
  x: 175;
  y: 105;
  fill: white;
}

#date {
  font-size: 26;
  font-family: System-Bold;
  text-length: 6;
  text-anchor: middle;
  x: 90%-9;
  y: 50%;
  fill: white;  
}

#day {
  font-size: 26;
  font-family: System-Bold;
  text-length: 4;
  text-anchor: middle;
  x: 10%;
  y: 50%;
  fill: white;
}

#time {
  font-size: 65;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 25%-5;
  fill: white;
}
